@{
    ViewData["Title"] = "Home Page";
}

	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

		<label > From </label>
		<input type="text" id="txtFrom" />

		<label > Message </label>
		<textarea id="txtMessage" rows="2" cols="20"></textarea>

		<input id="btnSend" type="button" value="button" />
	</div>
